<!DOCTYPE html>
<html>
<head>
    <title>Secure Blog</title>
</head>
<body>
<nav>
  <a href="/secure">Home</a> |
  <a href="/secure/search">Search</a> |
  <a href="/secure/create">Create Post</a> |
  <a href="/secure/login">Login</a> |
  <a href="/secure/register">Register</a> |
  <a href="/secure/logout">Logout</a>
</nav>
<hr>
